@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../fonts/PKMN RBYGSC.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #0047ab; /* Dark cobalt blue */
  font-family: "PKMN RBYGSC", sans-serif;
}

header {
  background-color: #333; /* Darker gray background */
  color: white; /* Text color for better contrast */
  padding: 1em 2em; /* Padding for header content */
  width: 100%; /* Stretches across the entire page */
  position: fixed; /* Stays fixed at the top of the page */
  top: 0; /* Positions the header at the top */
  box-sizing: border-box; /* Ensures padding is included in width */
  height: 3em; /* Sets the height of the header to 3em */
  z-index: 9999;
}

.paper {
  background-color: #ead1ac; /* D&D paper-like yellow */
  width: 80%; /* 80% of the page width */
  margin: 3% auto; /* Center the element horizontally, 3% top margin */
  padding: 2em; /* Padding relative to font size */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); /* Strong shadow effect */
  border-radius: 0.2em; /* Subtle rounded corners with em unit */
  display: flex; /* Flex container for content */
  flex-direction: column; /* Stack elements vertically */
}

.select2-selection--single.species {
  border: 2px solid #000 !important;
  border-bottom: 3px solid #000 !important;
  padding: 0.5em !important;
  font-family: "PKMN RBYGSC", sans-serif;
  font-size: 1.5em !important;
  width: 100% !important;
  box-sizing: border-box !important;
  height: auto !important;
  margin-right: 1em !important;
  background-color: white !important;
  color: #000 !important;
}

.select2-dropdown {
  border: 2px solid #000 !important;
  width: 19.4em !important;
}

.select2-results__option {
  padding: 0.5em !important;
  font-family: "PKMN RBYGSC", sans-serif;
  font-size: 1.5em !important;
}

#logo {
  width: 20%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column; /* Stack top-row and pokeball-shapes vertically */
}

.top-row {
  display: flex; /* Flex container for logo and input-container */
  align-items: flex-start; /* Align items to the top */
}

.input-container {
  display: flex;
  flex-direction: column; /* Stack inputs and HP bar vertically */
  margin-left: 1em; /* Add margin to separate from logo */
  flex-grow: 1; /* Allow container to grow and take available space */
}

.inputs {
  margin-top: 3em;
  display: flex; /* Flex container for input elements */
  flex-direction: row; /* Arrange elements horizontally in a row */
  margin-bottom: 0.5em; /* Space between inputs and HP bar */
}

.inputs input,
.inputs select {
  border: 2px solid #000; /* Consistent border for all elements */
  border-bottom: 3px solid #000; /* Thicker bottom border */
  padding: 0.5em; /* Padding for input fields */
  font-family: "PKMN RBYGSC", sans-serif;
  font-size: 1.5em;
  width: calc(30% - 2em); /* Use 30% of the width, accounting for margins */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  height: auto; /* Let the height adjust based on the content */
  margin-right: 1em; /* Add space between input elements */
  background-color: white; /* Set background to transparent */
}

.inputs #variant {
  display: none; /* Hide the variant select box */
  margin-left: 1em;
  margin-right: 0em;
}
.inputs #nature {
  margin-left: 1em;
}

.hp-bar-container {
  position: relative;
  width: 50%;
  height: auto;
  margin-top: 0.5em;
  align-self: center;
  margin-right: 2em;
}

.hp-bar {
  width: 100%;
  height: 100%;
  display: block;
}

#progress {
  width: 61%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  position: relative;
  top: -5.1em; /* Adjust the vertical position as needed */
  left: 11.4em;
}

.pokeball-shapes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em; /* Adjust margin as needed */
  gap: 5em;
  margin-bottom: 2em;
}

.pokeball {
  position: relative;
  width: 10em; /* Adjust size as needed */
  height: 10em; /* Adjust size as needed */
  background-color: white; /* White color for the entire circle */
  border: 3px solid black;
  border-radius: 50%; /* Makes the shape round */
  margin: 0 1em; /* Adjust spacing between shapes */
}

.pokeball .center-circle {
  width: 4em; /* Adjust size of inner circle */
  height: 4em; /* Adjust size of inner circle */
  background-color: white;
  border: 3px solid black;
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure it's above other elements */
}

.pokeball .center-line {
  position: absolute;
  background-color: black;
  height: 3px; /* Adjust thickness of center line */
  width: 100%; /* Adjust width of center line */
  top: 50%;
  left: 0;
}
.pokeball .center-line.vertical {
  position: absolute;
  background-color: black;
  width: 3px; /* Adjust thickness of vertical line */
  height: 50%; /* Adjust height of vertical line */
  bottom: 50%; /* Starts from the bottom center */
  left: 50%;
  transform: translateX(-50%);
}
.label {
  position: absolute;
  color: black;
  font-size: 10px;
  text-align: center;
}

.top {
  top: -25%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
}

.middle {
  position: relative;
  top: 80%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-left {
  transform: rotate(45deg);
  bottom: 0em; /* Adjust as needed */
  left: -1em; /* Adjust as needed */
  font-size: 1.5em;
}

.bottom-right {
  transform: rotate(-45deg);
  bottom: 0em; /* Adjust as needed */
  right: -2em; /* Adjust as needed */
  font-size: 1.5em;
}
.stat {
  bottom: -1.5em; /* Adjust as needed */
  right: 0;
  left: 0; /* Adjust as needed */
  font-size: 1.5em;
}

.textbox,
.input-field {
  position: absolute;
  border: none;
  background: transparent;
  overflow: hidden;
  resize: none;
  font-family: "PKMN RBYGSC", sans-serif; /* Set the font */
  text-align: center;
}
.textbox:focus,
.input-field:focus {
  outline: none;
}

.textbox.top-half {
  top: -0.5em;
  left: -0.05em;
  width: 100%;
  height: 50%;
  font-size: 1.5em;
  text-align: center;
}

.textbox.center-circle {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 35%;
  left: 50%;
  width: 30%; /* Adjust as needed */
  height: 30%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  padding-top: 2em;
  font-size: 1em;
}

.input-field.bottom-left {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.input-field.bottom-right {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.base {
  font-size: 25px;
}

.gender {
  width: 2em;
  height: auto;
}
.select2-container--default .select2-selection--single.gender {
  border: none !important;
  background-color: transparent !important;
  width: 2.5em;
  height: auto;
  position: absolute;
  top: -9.3em;
  left: 30em;
}

.select2-selection--single.gender .select2-selection__arrow {
  display: none;
}
#level {
  bottom: 0em; /* Adjust as needed */
  font-size: 1.8em;
  font-family: "PKMN RBYGSC", sans-serif;
  text-align: left;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -0.2em;
  left: 12.5em;
  width: 3em;
  height: 1em;
}
#level:focus {
  outline: none;
}
.nature {
  width: 1em;
}

#hpCur {
  border: none;
  background-color: transparent;
  font-size: 1.4em;
  font-family: "PKMN RBYGSC", sans-serif;
  text-align: right;
  position: absolute;
  top: 2.21em;
  left: 4.5em;
  width: 7em;
  height: auto;
}
#hpCur:focus {
  outline: none;
}

#hpMax {
  border: none;
  background-color: transparent;
  font-size: 1.4em;
  font-family: "PKMN RBYGSC", sans-serif;
  text-align: right;
  position: absolute;
  top: 2.21em;
  left: 15em;
  width: 7em;
  height: auto;
}
#hpMax:focus {
  outline: none;
}

.hp-info-container {
  display: flex;
  flex-direction: row; /* Set the flex direction to row */
}
.button-container {
  margin-top: 1.5em;
}
.hp-button {
  font-size: 1.4em;
  font-family: "PKMN RBYGSC", sans-serif;
  align-self: left;
  position: relative;
  top: 3em;
  margin: 0.2em;
}
#sixteenth {
  top: 1em;
}
#eighth {
  left: -1em;
  top: 3.5em;
}
#fourth {
  top: 5em;
}
#third {
  left: 1em;
  top: 3.5em;
}

#half {
  top: 1em;
}

#apply-stats {
  top: 5em;
}

#stat-amount {
  position: relative;
  top: 3em;
  left: 5.2em;
  border: 2px solid #000;
  font-family: "PKMN RBYGSC", sans-serif;
  font-size: 1.5em;
  width: 5em;
  height: auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  top: 1em;
  left: 14em;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider  {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "+"; /* Display "-" for the slider element */
  font-family: "PKMN RBYGSC", sans-serif; /* Use the custom font */
  font-size: 1.5em;
  text-align: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  text-align: center;
  justify-content: center;
}

.slider.round:before {
  content: "-"; /* Display "-" for the slider element */
  font-family: "PKMN RBYGSC", sans-serif; /* Use the custom font */
  border-radius: 50%;
  text-align: center;
}

/* CSS for medium screens (tablets) */
@media (max-width: 768px) {
  .paper {
    width: 90%;
  }
  .pokeball {
    width: 8em;
    height: 8em;
  }
  .pokeball .center-circle {
    width: 3.2em;
    height: 3.2em;
  }
  .pokeball .center-line {
    height: 2.4px;
  }
  .pokeball .center-line.vertical {
    width: 2.4px;
    height: 40%;
  }
  .label {
    font-size: 8px;
  }
  .top {
    font-size: 1.2em;
  }
  .middle {
    font-size: 1.2em;
  }
  .bottom-left {
    font-size: 1.2em;
  }
  .bottom-right {
    font-size: 1.2em;
  }
  .stat {
    font-size: 1.2em;
  }
  .textbox.top-half {
    font-size: 1.2em;
  }
  .textbox.center-circle {
    font-size: 0.8em;
  }
  .input-field.bottom-left {
    width: 100%;
    height: 25%;
  }
  .input-field.bottom-right {
    width: 100%;
    height: 25%;
  }
  .base {
    font-size: 20px;
  }
  .gender {
    width: 1.6em;
  }
  .select2-container--default .select2-selection--single.gender {
    width: 2em;
  }
  #level {
    font-size: 1.44em;
    left: 10em;
    width: 2.4em;
  }
  #hpCur {
    font-size: 1.12em;
    left: 3.6em;
    width: 5.6em;
  }
  #hpMax {
    font-size: 1.12em;
    left: 12em;
    width: 5.6em;
  }
  .hp-button {
    font-size: 1.12em;
    top: 2.4em;
  }
  #sixteenth {
    top: 0.8em;
  }
  #eighth {
    top: 2.8em;
  }
  #fourth {
    top: 4em;
  }
  #third {
    top: 2.8em;
  }
  #half {
    top: 0.8em;
  }
  #apply-stats {
    top: 4em;
  }
  #stat-amount {
    top: 2.4em;
    left: 4.16em;
    font-size: 1.2em;
    width: 4em;
  }
  .switch {
    top: 0.8em;
    left: 11.2em;
    width: 48px;
    height: 27.2px;
  }
  .slider {
    width: 48px;
    height: 27.2px;
  }
  .slider:before {
    height: 20.8px;
    width: 20.8px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(20.8px);
    -ms-transform: translateX(20.8px);
    transform: translateX(20.8px);
  }
}

/* CSS for small screens (mobile) */
@media (max-width: 480px) {
  .paper {
    width: 100%;
  }
  .pokeball {
    width: 6em;
    height: 6em;
  }
  .pokeball .center-circle {
    width: 2.4em;
    height: 2.4em;
  }
  .pokeball .center-line {
    height: 1.8px;
  }
  .pokeball .center-line.vertical {
    width: 1.8px;
    height: 30%;
  }
  .label {
    font-size: 6px;
  }
  .top {
    font-size: 1.2em;
  }
  .middle {
    font-size: 1.2em;
  }
  .bottom-left {
    font-size: 1.2em;
  }
  .bottom-right {
    font-size: 1.2em;
  }
  .stat {
    font-size: 1.2em;
  }
  .textbox.top-half {
    font-size: 1.2em;
  }
  .textbox.center-circle {
    font-size: 0.8em;
  }
  .input-field.bottom-left {
    width: 100%;
    height: 25%;
  }
  .input-field.bottom-right {
    width: 100%;
    height: 25%;
  }
  .base {
    font-size: 20px;
  }
  .gender {
    width: 1.6em;
  }
  .select2-container--default .select2-selection--single.gender {
    width: 2em;
  }
  #level {
    font-size: 1.44em;
    left: 10em;
    width: 2.4em;
  }
  #hpCur {
    font-size: 1.12em;
    left: 3.6em;
    width: 5.6em;
  }
  #hpMax {
    font-size: 1.12em;
    left: 12em;
    width: 5.6em;
  }
  .hp-button {
    font-size: 1.12em;
    top: 2.4em;
  }
  #sixteenth {
    top: 0.8em;
  }
  #eighth {
    top: 2.8em;
  }
  #fourth {
    top: 4em;
  }
  #third {
    top: 2.8em;
  }
  #half {
    top: 0.8em;
  }
  #apply-stats {
    top: 4em;
  }
  #stat-amount {
    top: 2.4em;
    left: 4.16em;
    font-size: 1.2em;
    width: 4em;
  }
  .switch {
    top: 0.8em;
    left: 11.2em;
    width: 48px;
    height: 27.2px;
  }
  .slider {
    width: 48px;
    height: 27.2px;
  }
  .slider:before {
    height: 20.8px;
    width: 20.8px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(20.8px);
    -ms-transform: translateX(20.8px);
    transform: translateX(20.8px);
  }
}
